nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: .7rem;
    position: relative;
}

small {
    display: block;
    font-weight: bold;
    margin: .7rem;
}

button {
    background: none;
    color: rgb(65, 65, 151);
    border: none;
}

/* button img {
    width: 50px;
    height: 50px;
} */

button:hover {
    cursor: pointer;
}

.views {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 0px;
    width: 45vw;
    height: 65vh;
}

.goals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 0px;
}

.goals p {
    display: inline;
    padding: 2px;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: 700;
    padding: 1rem;
}

a:visited {
    color: rgb(65, 65, 151);
}

a:hover {
    background-color: #fd91a3;
    color: rgb(111, 54, 123);
}

a.active {
    border-bottom: 3px solid rgb(65, 65, 151);
}

.quote-container {
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}

@media only screen and (max-width: 600px) {
    .views {
        width: 90vw;
    }
}