nav {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    height: 7vh;
}

.views {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
    width: 50vw;
}

a {
    text-decoration: none;
    font-weight: 700;
    padding: 1rem;
    margin: .5rem;
}

a:visited {
    color: rgb(65, 65, 151);
}

a:hover {
    background-color: #e3667b;
    color: rgb(111, 54, 123);
}