:root {
    background-image: linear-gradient(300deg, #fdb3e1 40%, #ffbac5 50%);
    color: rgb(65, 65, 151);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Funnel Display", sans-serif;
    font-style: normal;
}